<h1>MENSURATION</h1>
<ol>
    <li>
            <p>
            Perimeter : Sum Of the lengths of the boundaries is called its perimeter. 
        </p>
        </li>
    <li>
            <p>
            Area : The magnitude of a plane region is called its area. 
        </p>
        </li>
    <li>
            <p>
            Area of a triangle <app-math-jax>={{&quot;\\frac{1}{2}&quot;}}\times base\times height</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Perimeter of a triangle <app-math-jax>a + b + c = 2S</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            S = Semi perimeter <app-math-jax>={{&quot;\\frac{a+b+c}{2}&quot;}}</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Area of Scalene triangle = <app-math-jax>\sqrt{{"{s(s-a)(s-b)(s-c)}"}}</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Altitude of an equilateral triangle = <app-math-jax>\frac{{"{\\sqrt3}{2}"}}\times a^2</app-math-jax>
        </p>
        <p>
            Area of an equilateral triangle 
        </p>
        <p>
            Perimeter of an eql. <app-math-jax>=3a</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Area of a Quadrilateral = <app-math-jax>{{&quot;\\frac{1}{2}&quot;}}\times d \times (h_1+h_2)</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Area of a Trapezium = <app-math-jax>{{&quot;\\frac{1}{2}&quot;}}\times h\times (a+b)</app-math-jax>
        </p>
        <p>
            (a, b are the lengths of the parallel sides) 
        </p>
        </li>
    <li>
            <p>
            Area of a parallelogram <app-math-jax>= base x altitude</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Area of rhombus = <app-math-jax>base\times height\;(or)\;{{&quot;\\frac{1}{2}&quot;}}\times d_1\times d_2</app-math-jax>
        </p>
        <p>
            (when the diagonals are given)
        </p>
        <p>
            Perimeter of a rhombus <app-math-jax>= 4 \times Side</app-math-jax> 
        </p>
        </li>
    <li>
            <p>
            Area of a rectangle <app-math-jax>=length x breadth</app-math-jax>
        </p>
        <p>
            Perimeter of a rectangle <app-math-jax>2\times (1+b)</app-math-jax>
        </p>
        <p>
            Diagonal of a rectangle <app-math-jax>=\sqrt{{&quot;{l^2+h^2}&quot;}}=d</app-math-jax> 
        </p>
        </li>
    <li>
            <p>
            Area of a Square = Side x Side  or
        </p>
        <p>
            <app-math-jax>{{&quot;\\frac{1}{2}&quot;}}\times d^2\; d=diagonal</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Perimeter of a Square <app-math-jax>= 4 x Side</app-math-jax>
        </p>
        <p>
            diagonal of a square <app-math-jax>=\sqrt {{&quot;{2}&quot;}}\times Side</app-math-jax>
        </p>
        </li>
        <li>
            <p>
            Area of a Circle = <app-math-jax>\pi r^2</app-math-jax>
        </p>
        <p>
            Circumference of a Circle = <app-math-jax>2\pi r\;or\;\pi d</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Area of a Sector of a circle <app-math-jax>{{&quot;\\frac{\\theta }{360}&quot;}} \pi r^2</app-math-jax>
        </p>
        <p>
            (<app-math-jax>\theta </app-math-jax> is angle at the centre)
        </p>
        </li>
    <li>
            <p>
            Perimeter of the Sector = <app-math-jax>l+ 2r</app-math-jax>
        </p>
        <p>
            Area of the Sector = <app-math-jax>{{&quot;\\frac{1}{2}&quot;}}lr^2</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Area of the Segrnent APB
        </p>
        <p>
             = Area of Sector AOBP - Area of AAOB
        </p>
        <p>
             <app-math-jax>\begin{{"{bmatrix}"}}{{&quot;\\frac{\\theta}{360}&quot;}} \pi r^2 - {{&quot;\\frac{1}{2}&quot;}}r^2 \sin \theta \end{{"{bmatrix}"}}</app-math-jax>
        </p>
        </li>
        <li>
            <p>
            Area of Circular ring = <app-math-jax>\pi (R^2 - r^2)</app-math-jax>
        </p>
        </li>
</ol>
<h1>Conversion table</h1>
<ol>
    <li>
            <p>
            Standard Units of legth
        </p>
        <p>
            <app-math-jax>10 mm = 1cm</app-math-jax>
        </p>
        <p>
            <app-math-jax>10 cm = 1dm</app-math-jax>
        </p>
        <p>
            <app-math-jax>10 dm = 1m</app-math-jax>
        </p>
        <p>
            <app-math-jax>10m = 1 dam (decametre)</app-math-jax>
        </p>
        <p>
            <app-math-jax>10 dam = 1 hm (hectometre)</app-math-jax>
        </p>
        <p>
            <app-math-jax>10 hm =1 km (Kilometre)</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Standard Units of area
        </p>
        <p>
            <app-math-jax>100 mm^2 = 1 cm^2</app-math-jax>
        </p>
        <p>
            <app-math-jax>100 cm^2 = 1 dm^2</app-math-jax>
        </p>
        <p>
            <app-math-jax>100 dm^2 = 1 m^2</app-math-jax>
        </p>
        <p>
            <app-math-jax>100 m^2 = 1 dam^2</app-math-jax>
        </p>
        <p>
            <app-math-jax>100 dam^2 = 1 hm^2</app-math-jax>
        </p>
        <p>
            <app-math-jax>100 hm^2 = 1 km^2</app-math-jax>
        </p>
        <p>
            <app-math-jax>1 m^2 = 10000 cm^2</app-math-jax>
        </p>
        <p>
            <app-math-jax>100 m^2 = 1 Are</app-math-jax>
        </p>
        <p>
            <app-math-jax>100 Are = 1 hectare</app-math-jax>
        </p>
        <p>
            <app-math-jax>100000 m^2 = 1 hectare</app-math-jax>
        </p>
        </li>
</ol>
<h1>Volume</h1>
<ol>
    <li>
            <p>
            Volume:
        </p>
        <p>
            A Space occupied by a matter
        </p>
        </li>
    <li>
            <p>
            Cuboid:
        </p>
        <p>
            A Cuboid has 6 faces [ABCD, ABIIG, Al)EG, 
        </p>
        <p>
            A Cuboid has 12 edges b h [AB, BC, CD, DA, MI, JIG, EG, AGO 
        </p>
        <p>
            A Cuboid has 8 vertices 
        </p>
        <p>
            Volume of a Cuboid = <app-math-jax>l\times b\times h</app-math-jax>
        </p>
        <p>
            Surface area of a Cuboid <app-math-jax>2\times[lb+bh+hl]</app-math-jax>
        </p>
        <p>
            Length of the longest diagonal <app-math-jax>\sqrt {{&quot;{l^2+b^2+c^2}&quot;}}</app-math-jax>
        </p>
        </li>
</ol>

<ol>
    <li>
            <p>
            Cube : 
        </p>
        <p>
            a) A Cube is a cuboid whose length, breadth and height are all equal.
        </p>
        <p>
            b) Volume of a Cube = <app-math-jax>Side\times Side\times Side =\;a^3</app-math-jax>
        </p>
        <p>
            Surface area of a Cube = <app-math-jax>6\times Side^2 = 6a^2</app-math-jax>
        </p>
        <p>
            Length of the longest diagonal <app-math-jax>\sqrt 3 \times a</app-math-jax>
        </p>
        <p>
            Area of the four walls of a room <app-math-jax>2h (l+b) =\;Perimeter\;of\;the\;floor \times\;height</app-math-jax>
        </p>
        </li>
</ol>
<ol>
    <li>
            <p>
            Cylinder : 
        </p>
        <p>
            Volume = <app-math-jax>\pi r^2 h</app-math-jax>
        </p>
        <p>
            Curved Surface Area = <app-math-jax>2\pi rh</app-math-jax> 
        </p>
        <p>
            Total Surface Area = <app-math-jax>2\pi r (h + r)</app-math-jax>
        </p>
        </li>
</ol>
<ol>
    <li>
            <p>
            Cone :
        </p>
        <p>
            Volume = <app-math-jax>{{&quot;\\frac{1}{3}&quot;}} \pi r^2h</app-math-jax>
        </p>
        <p>
            Curved Surface Area = <app-math-jax>\pi rl</app-math-jax>
        </p>
        <p>
            Slant height l =  <app-math-jax>\sqrt {{&quot;{r^2+h^2}&quot;}}</app-math-jax>
        </p>
        <p>
            Total Surface Area <app-math-jax>\pi r(l+r)</app-math-jax>
        </p>
        </li>
</ol>
<ol>
    <li>
            <p>
            Sphere :
        </p>
        <p>
            Volume = <app-math-jax>{{&quot;\\frac{4}{3}&quot;}} \pi r^3</app-math-jax>
        </p>
        <p>
            Surface Area = <app-math-jax>4\pi r^2</app-math-jax>
        </p>
        </li>
</ol>
<ol>
    <li>
            <p>
            Hemisphere : 
        </p>
        <p>
            Volume = <app-math-jax>{{&quot;\\frac{2}{3}&quot;}} \pi r^3</app-math-jax>
        </p>
        <p>
            Total Surface Area = <app-math-jax>3 \pi r^2</app-math-jax>
        </p>
        <p>
            Curved Surface Area = <app-math-jax>2 \pi r^2</app-math-jax>
        </p>
        </li>
</ol>

<ol>
    <li>
            <p>
            Frustum of a Cone 
        </p>
        <p>
            If a cone is cut by a plane parallel to the base of the cone,
        </p>
        <p>
            then the portion between the plane and base is called the frustum of the cone. 
        </p>
        <p>
            Volume of frustum = <app-math-jax>{{&quot;\\frac{\\pi h}{3r}&quot;}}(R^3+r^3)</app-math-jax>  (or) 
        </p>
        <p>
            Volume of Bigger Cone - Volume of Smaller Cone
        </p>
        </li>
</ol>

<h1>Conversion Table :</h1>
<ol>
    <li>
            <p>
            Standard Unit of Volume
        </p>
        <p>
            <app-math-jax>1\;cm^3 = 1000\;mm^3</app-math-jax>
        </p>
        <p>
            <app-math-jax>1\;dm^3 = 1000\;cm^3</app-math-jax>
        </p>
        <p>
            <app-math-jax>1\;m^3 = 1000\;dm^3</app-math-jax>
        </p>
        <p>
            <app-math-jax>1\;litre = 1\;dm^3 = 1000\;cm^3</app-math-jax>
        </p>
        <p>
            <app-math-jax>1\;ml = 1\;cm^3</app-math-jax>
        </p>
        <p>
            <app-math-jax>1\;kl = 1000\;ltr. = 10^6\;cm^3</app-math-jax>
        </p>
        </li>
</ol>








