<h1>Banking</h1>
<ol>
    <li>
            <p>
            To calculate interest on Savings Bank A/c :
        </p>
        <p>
            The interest in this account is credited according to the following rules : 
        </p>
        <p>
            The interest for a particular month is computed on the minimum balance between the 10th day and the last day of the month.
        </p>
        <p>
             Though the interest is computed month wise it is usually credited to the accounts yearly or half yearly.
        </p>
        </li>
    <li>
            <p>
            Taxes :
        </p>
        <p>
            a) To compute IT (Income Tax) 
        </p>
        <p>
              1. Calculate gross income for the financial year 
        </p>
        <p>
              2. Calculate standard deduction (SD) and other admissible deductions 
        </p>
        <p>
              3. Calculate taxable income (i.e) (1) rounded off to the nearest Rs. 10. 
        </p>
        <p>
              4. Calculate tax on the amount in (3) as per the given rate. 
        </p>
        <p>
              5. Calculate deposits on admissible deducitons for the tax rebate.
        </p>
        <p>
              6. Calculate tax rebate under section 88 
        </p>
        <p>
              7. Calculate net tax (4) — (6) rounded off to the nearest rupee.
        </p>
        </li>
</ol>
<h1>Ratio and Proportion of Algebraic expressions :</h1>
<ol>
    <li>
            <p>
            Ratio : 
        </p>
        <p>
             Let a,b,c,d be four polynomials, then
        </p>
        </li>
    <li>
            <p>
            Compounded ratio : 
        </p>
        <p>
            For the ratios a : b and c : d the compounded ratio is ac : bd.
        </p>
        </li>
    <li>
            <p>
            Duplicate ratio : 
        </p>
        <p>
            The duplicate ratio of <app-math-jax>a:b \; is\; a^2:b^2</app-math-jax>
        </p>
        <p>
            i.e. <app-math-jax>{{&quot;\\frac{a}{d}&quot;}}\;is\;{{&quot;\\frac{a^2}{b^2}&quot;}}</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Triplicate ratio : 
        </p>
        <p>
            The triplicate ratio of <app-math-jax>a : b\;or\;{{&quot;\\frac{a}{b}&quot;}}\;is\;a^3:b^3\;or {{&quot;\\frac{a^3}{b^3}&quot;}}</app-math-jax> 
        </p>
        </li>
    <li>
            <p>
            Sub-duplicate ratio : 
        </p>
        <p>
            Sub duplicate of <app-math-jax>a:b\;is \; \sqrt a:\sqrt b</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Sub-triplicate ratio : 
        </p>
        <p>
            Subtriplicate of  <app-math-jax>a:b\;is\;\sqrt[3]a:\sqrt[3]b</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Reciprocal ratio : 
        </p>
        <p>
            For the ratio a : b, the ratio <app-math-jax> {{&quot;\\frac{1}{a}&quot;}}:{{&quot;\\frac{1}{b}&quot;}} = b: a </app-math-jax> is the reciprocal 
        </p>
        <p>
            Proportion : Four quantities a, b, c and d are in proportion if a : b = c : d , a, dare extremes and b,c are means, 
        </p>
        <p>
            the term &#x27;d&#x27; is called the fourth proportional to a, b and c. 
        </p>
        <p>
            
        </p>
        <p>
            Continued Proportion : If a: b = b : c then a, b, c are in continued proportion and <app-math-jax>{{&quot;\\frac{a}{b}&quot;}}={{&quot;\\frac{b}{c}&quot;}}\;So\;b^2 = ac.</app-math-jax> 
        </p>
        <p>
            &#x27;b&#x27; is called the mean proportional between &#x27;a&#x27; and &#x27;c&#x27; and &#x27;c&#x27; is called the third proportional to a and b. 
        </p>
        </li>
</ol>
<h1>Useful results on Proportion :</h1>
<ol>
    <li>
            <p>
            Invertendo : 
        </p>
        <p>
            If <app-math-jax>a:b = c:d\;then\;b:a=d:c</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Alternendo : 
        </p>
        <p>
            If <app-math-jax>a:b=c:d\;then\;a:c=b:d</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Componendo : 
        </p>
        <p>
            If a: b = c: d then (a + b) : b = (c + d) : d 
        </p>
        </li>
    <li>
            <p>
            Dividendo 
        </p>
        <p>
            If <app-math-jax>a:b=c:d\;then\;(a - b) : b= (c -d) : d</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Componendo and dividendo rule
        </p>
        <p>
             If <app-math-jax>a: b = c: d\;then\;(a + b) : (a - b) = (c + d) : (c- d) </app-math-jax>
        </p>
        </li>
    <li>
            <p>
            if <app-math-jax> {{&quot;\\frac{a}{b}&quot;}}= {{&quot;\\frac{c}{d}&quot;}}= {{&quot;\\frac{e}{f}&quot;}}= \dots </app-math-jax> then each ratio is 
        </p>
        <p>
            equal to <app-math-jax>{{&quot;\\frac{a+c+e+\\dots }{b+d+f+\\dots}&quot;}}</app-math-jax> 
        </p>
        </li>
    <li>
            <p>
            Factorization of Cyclic Expressions : 
        </p>
        <p>
            Symmetric expressions : An expression in 2 or more letters is said to be symmetric if it remains unaltered when any two letters in it are interchanged. 
        </p>
        <p>
            (e.g) <app-math-jax>ab + bc + ca </app-math-jax>
        </p>
        <p>
            <app-math-jax>a^2(b-c)+b^2(c-a)+c^2(a-b)</app-math-jax>
        </p>
        <p>
            So a symmetric expression is cyclic and can be expressed as <app-math-jax> \displaystyle\sum_{{"{a,b}"}} ab\;and\;\displaystyle\sum_{{"{a,b,c}"}} a^2(b-c)</app-math-jax>
        </p>
        <p>
            Factorisation of such expressions in cyclic order can be done 
        </p>
        <p>
            a. By rearranging and regrouping and 
        </p>
        <p>
            b. By using &#x27;factor theorem&#x27;. 
        </p>
        </li>
</ol>



