<h1>
    MULTIPLES AND FACTORS
</h1>
<ol>
        <li>
                <p>
                 Multiples:
            </p>
            <p>
                The numbers 4, 8, 12, 16, 20 .... are obtained by multiplying 4 by 1,2,3,4.... The numbers 4, 8, 12, 16, 20 .... are called multiples of 4.
            </p>
            <p>
                 a number is a multiple of itself
            </p>
            <p>
                Eg :3 is a multiple of 3.
            </p>
            <p>
                Every number is a multiple of 1
            </p>
            <p>
                Eg :4 is a multiple of 1.
            </p>
            </li>
        <li>
                <p>
                 Factors:
            </p>
            <p>
                A number is a factor of another number if the second number is divisible by the frst number. 
            </p>
            <p>
                Eg : 28 is divisible by 7 
            </p>
            <p>
                7 is a factor of 28.
            </p>
            <p>
                1 is a factor of every number. Every number is a factor of itself.
            </p>
            </li>
        <li>
                <p>
                Prime Number:
            </p>
            <p>
                A number that has exactly 2 factors is called a prime number.
            </p>
            <p>
                Eg : 2, 3, 5, 7 etc.
            </p>
            <p>
                2 is the only even prime number.
            </p>
            </li>
        <li>
                <p>
                Composite Number :
            </p>
            <p>
                A number that has more than 2 factors is called a composite number.
            </p>
            <p>
                Eg :4, 6, 8, 9,10 etc.
            </p>
            <p>
                1 is neither prime nor composite.
            </p>
            </li>
        <li>
                <p>
                Twin Primes :
            </p>
            <p>
                Twin Primes are those two prime numbers which differ by 2.
            </p>
            <p>
                Eg: 3 and 5; 5 and 7.
            </p>
            </li>
        <li>
                <p>
                Co-prime Numbers :
            </p>
            <p>
                TW0 numbers which have only 1 (ONE) as their  common factor are called co-prime numbers.
            </p>
            <p>
                Eg: 9 and 16.
            </p>
            </li>
    </ol>
    <h1>
            TEST FOR DIVISIBILITY OF NUMBERS
        </h1>
        <ol>
                <li>
                        <p>
                        
                    </p>
                    <p>
                        Divisibility by 2 :
                    </p>
                    <p>
                        A number is divisible by 2 if its unit digit is 0 or is an even number.
                    </p>
                    <p>
                        Eg : 40, 26
                    </p>
                    </li>
                <li>
                        <p>
                        Divisibility by 3 :
                    </p>
                    <p>
                        A number is divisible by 3 if the sum of its digits is divisible by 3.
                    </p>
                    <p>
                        Eg : 63 is divisible by 3 since 6 + 3 = 9 is divisible by 3.
                    </p>
                    </li>
                <li>
                        <p>
                        Divisibility by 4 :
                    </p>
                    <p>
                        A number is divisible by 4 if its last two digits together is divisible by 4.
                    </p>
                    <p>
                        Eg : 648 is divisible by 4 since 48 is divisible by 4.
                    </p>
                    </li>
                <li>
                        <p>
                        Divisibility by 5 :
                    </p>
                    <p>
                        A number is divisible by 5 if its last digit is either 0 or 5
                    </p>
                    <p>
                        Eg : 310, 205
                    </p>
                    </li>
                <li>
                        <p>
                        Divisibility by 6 :
                    </p>
                    <p>
                        A number is divisible by 6 if it is divisible by both 2 and 3
                    </p>
                    <p>
                        Eg : 108 is divisible by 2 
                    </p>
                    <p>
                            1+0+8=9 is divisible by 3.Hence 108 is divisible by 6
                    </p>
                    </li>
                <li>
                        <p>
                        Divisibility by 8 :
                    </p>
                    <p>
                        A number is divisible by 8 if 1ts last 3 digits together is divisible by 8
                    </p>
                    <p>
                         Eg : 4168 -&gt; 168 is divisible by 8
                    </p>
                    <p>
                              Hence 4168 is divisible by 8.
                    </p>
                    </li>
                <li>
                        <p>
                        Divisibility by 9 :
                    </p>
                    <p>
                        A number divisible by is 9 if this sum of its digits is divisible by 9
                    </p>
                    <p>
                        Eg : 6183 is divisible by 9
                    </p>
                    <p>
                        Since 6+1+8+3 =18 is divisible by 9
                    </p>
                    </li>
                <li>
                        <p>
                        Divisibility by 10 :
                    </p>
                    <p>
                        A number is divisible by 10 if its last digit is zero.
                    </p>
                    <p>
                        Eg : 30, 1400.
                    </p>
                    </li>
                <li>
                        <p>
                        Digisibility by 11 :
                    </p>
                    <p>
                        A number is divisible by 11, if the difference between the sum of its digits in odd places and in even places is either 0 or a multiple of 11.
                    </p>
                    <p>
                        Eg : 5 6 2 9 4 7 
                    </p>
                    <p>
                           6+9+7= 22
                    </p>
                    <p>
                           5+2+4= 11
                    </p>
                    <p>
                           22 - 11= 11
                    </p>
                    <p>
                        11 is multiple of 11. Hence 562947 is divisible by 11
                    </p>
                    </li>
                    <li>
                        <p>Prime Factorisation :</p>
                        <p>A factorisation is prime if all the factors are primes.</p>
                        <p>Eg : Prime factorisation of 24 = 2 x 3x 2 x 2 </p>
                    </li>
            </ol>
            

            <h1>
                L.C.M AND H.C.F
            </h1>
            <ol>
    <li>
            <p>
            L.C.M :
        </p>
        <p>
            If two numbers are co-primes, then L.C.M. is the product ofthe numbers.
        </p>
        <p>
            Eg : 2 and 3
        </p>
        <p>
            L.C.M.is 2 * 3 = 6
        </p>
        <p>
            If one number is the multiple of the other, the greater number is the L.C.M. of the numbers.
        </p>
        <p>
            Eg : 4 and 8
        </p>
        <p>
            L.C.M. is 8.
        </p>
        <p>
            The lowest common multiple of two or more numbers is the smallest number which is divisible by those numbers.
        </p>
        <p>
            Eg : Multiples of 6 = 6, 12, 18, 24, 30, 36.
        </p>
        <p>
            Multiples of 5 = 5, 10, 15, 20, 25, 35.
        </p>
        <p>
            L.C.M of 5 and 6 is 30.
        </p>
        </li>
    <li>
            <p>
            H.C.F :
        </p>
        <p>
            H.C.F of two or more numbers is the product of all common prime factors.
        </p>
        <p>
            Eg : 12 = 2 * 2 * 3; 8 = 2 * 2 * 2
        </p>
        <p>
            H.C.F. of 12 and 8 is 2x2 = 4
        </p>
        </li>
</ol>

<h1>
    Relation between H.C.F. and L.C.M
</h1>
<ol>

<p>H.C.F. X L.C.M = Product of the numbers.H.C.F. by Continued Division Method :
  (Euclid's Algorithm)
</p>

<p>The In d1v1sor in the continued division. when remainder is zero is the H.C.F of those two numbers.
H.C.F of 442 and 1261 is 13
</p>
</ol>

<h1> EXPONENTS AND RADICALS </h1>
<ol>
    <li>
            <p>
            Exponents as Positive Integers
        </p>
        <p>
            a is written as <app-math-jax>a^1</app-math-jax>
        </p>
        <p>
            <app-math-jax>a \times a</app-math-jax> is written as <app-math-jax>a^2</app-math-jax>
        </p>
        <p>
            <app-math-jax>a \times a \times a</app-math-jax> is written as <app-math-jax>a^3</app-math-jax>
        </p>
        <p>
            In general <app-math-jax>a \times a \times a.......n</app-math-jax> times = <app-math-jax>a^n</app-math-jax>
        </p>
        <p>
            We say that `a` is the base and `n` is the exponent.Zero and Negative Exponents.
        </p>
        </li>
    <li>
            <p>
            For every non-zero real number &#x27;a.&#x27;
        </p>
        <p>
            <app-math-jax>a^0 = 1</app-math-jax>
        </p>
        <p>
            <app-math-jax>345^0 = 1</app-math-jax>
        </p>
        <p>
            <app-math-jax>{{&quot;\\frac{3}{8}&quot;}}^0 = 1</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            For every non-zero real number `a` and every positive integer `n`
        </p>
        <p>
            <app-math-jax>a^{{"{-n}"}} = {{&quot;\\frac{1}{a}&quot;}}^n</app-math-jax>
        </p>
        <p>
            that is, <app-math-jax>a^{{"{-n}"}}</app-math-jax> is the reciprocal of <app-math-jax>a^n</app-math-jax>
        </p>
        <p>
            Eg : <app-math-jax>5^{{"{-1}"}}={{&quot;\\frac{1}{5}&quot;}}</app-math-jax>
        </p>
        <p>
            <app-math-jax>{{&quot;\\frac{a}{b}&quot;}}^{{"{-1}"}} = {{&quot;\\frac{b}{a}&quot;}}
            </app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Laws of Exponents
        </p>
        <p>
            For all real numbers a and b and for all integers m and n.
        </p>
        <p>
            <app-math-jax>a^m \times a^n = a^{{"{m+n}"}}</app-math-jax>
        </p>
        <p>
            <app-math-jax>2^{{&quot;{10}&quot;}}  \times  2^{{&quot;{15}&quot;}} = 2^{{&quot;{10+15}&quot;}} = 2^{{&quot;{25}&quot;}}</app-math-jax>
        </p>
        <p>
            <app-math-jax>3^{{&quot;{-1}&quot;}}  \times  3^5 = 2^{{&quot;{-1+5}&quot;}} = 3^4 = 81</app-math-jax>
        </p>
        <p>
            <app-math-jax>{{&quot;\\frac{a^m}{a^n}&quot;}} = a^{{&quot;{m-n}&quot;}}</app-math-jax> if (m > n)
        </p>
        <p>
            <app-math-jax>{{&quot;\\frac{2^9}{2^5}&quot;}} = 2^{{&quot;{9-5}&quot;}} = 2^4</app-math-jax>
         </p>
         <p>
         <app-math-jax>{{&quot;\\frac{5^9}{5^-8}&quot;}} = 5^{{&quot;{7-(-8)}&quot;}} = 5^{{&quot;{7+8}&quot;}} = 5^{{&quot;{15}&quot;}}</app-math-jax>
        </p>
       
        <p>
            <app-math-jax>{{&quot;\\frac{a^m}{a^n}&quot;}} =  {{&quot;\\frac{1}{a^n-m}&quot;}}</app-math-jax> (if n > m)
        </p>
        <p>
            <app-math-jax>{{&quot;\\frac{2^8}{2^12}&quot;}} = {{&quot;\\frac{1}{2^12-8}&quot;}} = {{&quot;\\frac{1}{2^4}&quot;}} = {{&quot;\\frac{1}{16}&quot;}}</app-math-jax>
        </p>
        <p>
            <app-math-jax>(a^m)^n = a^{{&quot;{m \\times n}&quot;}} = a^{{&quot;{mn}&quot;}}</app-math-jax>
        </p>
        <p>
            <app-math-jax>(2^2)^3 = a^{{&quot;{2 \\times 3}&quot;}} = 2^6</app-math-jax>
        </p>
        <p>
            <app-math-jax>(ab)^m = a^mb^m</app-math-jax>
        </p>
        <p>
            <app-math-jax>(3x^4)^2 = 3^2 \times x^{{&quot;{4\\times2}&quot;}} = 9x^8</app-math-jax>
        </p>
        <p>
            <app-math-jax>({{&quot;\\frac{a}{b}&quot;}})^m = {{&quot;\\frac{a^m}{b^m}&quot;}} </app-math-jax>
        </p>
        <p>
            <app-math-jax>({{&quot;\\frac{4}{5}&quot;}})^m = {{&quot;\\frac{4^3}{5^3}&quot;}} = {{&quot;\\frac{64}{125}&quot;}} </app-math-jax>
        </p>
       
        <p>
            Note:If <app-math-jax>x^n = y,then x = y^{{&quot;\\frac{1}{n}&quot;}} = \sqrt[n]{{"{y}"}} </app-math-jax>
        </p>
        <p>
            <app-math-jax>n^{{"{th}"}}</app-math-jax>root is called a radical.
        </p>
        <p>
            Eg :<app-math-jax>\sqrt[3]{{"{80}"}} ;\quad \sqrt[5]{{"{7}"}} </app-math-jax>
        </p>
        </li>
</ol>
<ol>
    <li>
            <p>
            SQUARES AND SQUARE ROOTS
        </p>
        <p>
            A number which has exactly two equal factors is called a square number. Each factor is called the square root of the number. 
        </p>
        <p>
            16 = <app-math-jax>4\times4 \to 4</app-math-jax> is the Square root of 16 and 16 is the square of 4
        </p>
        <p>
            To indicate square root we use the symbol <app-math-jax>\sqrt{{&quot;{`}&quot;}}</app-math-jax>
        </p>
        <p>
            Thus <app-math-jax>\sqrt{{&quot;{49}&quot;}} =7 ; \sqrt{{&quot;{81}&quot;}} =9</app-math-jax>
        </p>
        <p>
            1, 4, 9, 16, 25, 36 etc. are the squares of the numbers 1, 2, 3, 4, 5, . etc. respectively. Such numbers are called perfect squares
        </p>
        <p>
            Square root by factorisation :
        </p>
        <p>
            Find <app-math-jax>\sqrt{{&quot;{36}&quot;}}</app-math-jax> ;
        </p>
        <p>
            <app-math-jax>36 = 2\times2 \times 3\times3 = 2^2 \times 3^2</app-math-jax>
        </p>
        <p>
            <app-math-jax>\sqrt{{&quot;{36}&quot;}} = 2\times3</app-math-jax>
        </p>
        <p>
            <app-math-jax>\sqrt{{&quot;{36}&quot;}} = 6</app-math-jax>
        </p>
        </li>
</ol>

<ol>
    <li>
            <p>
            Square root by division
        </p>
        <p>
            Square Root of a Rational number :
        </p>
        <p>
            We have <app-math-jax> \sqrt {{&quot;\\frac{a}{b}&quot;}} = {{&quot;\\frac{\\sqrt a}{\\sqrt b}&quot;}}  </app-math-jax> 
        </p>
        <p>
            Eg : <app-math-jax> \sqrt  {{&quot;\\frac{49}{25}&quot;}} = {{&quot;\\frac{\\sqrt{49} }{\\sqrt{25} }&quot;}} = {{&quot;\\frac{7}{5}&quot;}}</app-math-jax>
        </p>
        </li>
</ol>
<ol>
    <li>
            <p>
            Square Root of a Product :
        </p>
        <p>
            <app-math-jax>\sqrt {{&quot;{ab}&quot;}} = \sqrt a \times \sqrt b  </app-math-jax>
        </p>
        <p>
            <app-math-jax>\sqrt {{&quot;{486}&quot;}} \times \sqrt 6 = \sqrt {{&quot;{6\\times81\\times6}&quot;}} </app-math-jax>
        </p>
        <p>
            <app-math-jax>\sqrt {{&quot;{6\\times6\\times9\\times9}&quot;}}</app-math-jax>
        </p>
        <p>
            <app-math-jax>6\times9 = 54</app-math-jax>
        </p>
        <p>
            Note 1 : Since <app-math-jax>-5 \times -5 = 25</app-math-jax> 
        </p>
        <p>
            and <app-math-jax>5 \times 5 = 25</app-math-jax> also 
        </p>
        <p>
            We have, <app-math-jax>\sqrt {{&quot;{25}&quot;}} = \pm5</app-math-jax>
        </p>
        <p>
            Note 2 : A negative number has no square root. 
        </p>
        </li>
</ol>
<ol>
    <li>
            <p>
            CUBES AND CUBE ROOTS
        </p>
        <p>
            The numbers 1, 8, 27 and 64 are the Cubes of the natural numbers 1, 2, 3 and 4 respectively. 
        </p>
        <p>
            Correspondingly 1, 2, 3 and 4 are the Cube roots of 1, 8, 27 and 64.
        </p>
        <p>
            Cube root of a Perfect Cube : 
        </p>
        <p>
            Eg : 1728,
        </p>
        <p>
            <app-math-jax>1728 =2^3 \times 2^3 \times 3^3</app-math-jax>
        </p>
        <p>
            <app-math-jax>\sqrt[3]{{&quot;{1728}&quot;}} = 2 \times2 \times3 = 12</app-math-jax>
        </p>
        <p>
            Cube root of a negative integer 
        </p>
        <p>
            Cube root of a negative integer is negative. 
        </p>
        <p>
            i.e., <app-math-jax>\sqrt[3]{{&quot;{-x^3}&quot;}} = -x</app-math-jax>
        </p>
        <p>
            <app-math-jax>\sqrt[3]{{&quot;{-125^3}&quot;}} = -5</app-math-jax>
        </p>
        </li>
</ol>

<ol>
    <li>
            <p>
            Rules : (i) If a and b be any two integers, then 
        </p>
        <p>
            <app-math-jax>\sqrt[3] {{&quot;{ab}&quot;}} = \sqrt[3] a \times \sqrt[3] b  </app-math-jax>
        </p>
        <p>
            Eg : <app-math-jax>\sqrt[3]{{&quot;{27\\times8}&quot;}} = \sqrt[3]{{&quot;27&quot;}}\times\sqrt[3] 8 =3\times2 = 6 </app-math-jax>
        </p>
        <p>
            (ii) If a and b are any two integers, then 
        </p>
        <p>
            <app-math-jax>\sqrt[3] {{&quot;\\frac{a}{b}&quot;}} = {{&quot;\\frac{\\sqrt[3] a }{ \\sqrt[3] b}&quot;}}  </app-math-jax>
        </p>
        <p>
            <app-math-jax>\sqrt[3] {{&quot;\\frac{64}{125}&quot;}} = {{&quot;\\frac{\\sqrt[3] {64} }{ \\sqrt[3] {125} }&quot;}} = {{&quot;\\frac{4}{5}&quot;}}  </app-math-jax>
        </p>
        </li>
</ol>









