<h1>COMPUTING</h1>
<ol>
    <li>
            <p>
            The Mathematician &quot;Charles Babbage&quot; is considered as the Father of Computer Science. A computer is a device which performs calculations at an unbelievable fast rate. 
        </p>
        <p>
            The diagramatic or pictorial representation of steps of solving a problem is called a flow-chart. 
        </p>
        <p>
            Four types of boxes are used in a flow chart. 
        </p>
        <p>
            Rectangular Box (Calculation) 
        </p>
        <p>
            Oval shape terminal box (Start and Stop) 
        </p>
        <p>
            Rhombus Shaped box - Diamond box (Decision box) 
        </p>
        <p>
            Pentagonal box - Input - Output 
        </p>
        </li>
        <li>
            <p>
            A technical term for step by step procedure of solving a problem is called an algorithm. 
        </p>
        <p>
            BASIC, PASCAL, COBOL, FORTRAN, are some of the programming languages. 
        </p>
        </li>
</ol>

