<h1>LINEAR EQUATIONS IN TWO VARIABLES.</h1>
<ol>
    <li>
            <p>
            Simultaneous Equations : 
        </p>
        <p>
            When two quantities in two unknovvns are satisfied by the same pair of values for the two unknowns, they are said to be simultaneous equations. 
        </p>
        <p>
            <app-math-jax>Eg: 2x+4y=3\;;\;2x -6y = 9.</app-math-jax> 
        </p>
        </li>
    <li>
            <p>
            Solution of a system of equations : 
        </p>
        <p>
            If an ordered pair of values satisfies the system <app-math-jax>a_1x +b_1y + c_1 = 0</app-math-jax> and 
        </p>
        <p>
            <app-math-jax>a_2x +b_2y + c_2 = 0</app-math-jax> the pair is called the solution of the system of equations. 
        </p>
        </li>
    <li>
            <p>
            Consistent and inconsistent : 
        </p>
        <p>
            If a system has a solution then the system is said to be consistent othervvise inconsistent. 
        </p>
        <p>
            <app-math-jax>Eg: x +y = 4\;x - 2y = 3</app-math-jax> consistent 
        </p>
        <p>
            <app-math-jax>2x-y = 5\; 4x - 2y = 8</app-math-jax> Inconsistent. 
        </p>
        </li>
    <li>
            <p>
            Dependent dependent.: 
        </p>
        <p>
            The following system of equations is dependent.
        </p>
        <p>
            <app-math-jax>Eg.\;2x+5y =3\;4x + 10y = 6. </app-math-jax>The lines here are coincident 
        </p>
        </li>
    <li>
            <p>
            If y = a the graph is a straight line parallel to x axis.
        </p>
        </li>
    <li>
            <p>
            If x = b the graph is a straight line parallel toy axis. 
        </p>
        <p>
            For the equations : <app-math-jax>a_1x + b_1y = c_1\;; a_2x + b_2y = c_2.</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Cross multiplication method to find the Solution of a 
        </p>
        <p>
            system of equations 
        </p>
        <p>
            The equations are :
        </p>
        <p>
            
        </p>
        </li>
</ol>

