<h1>POINTS AND LINES</h1>
<canvas #canvasElement width="150" height="100"></canvas>
<ol>
    <li>
            <p>
            A point has a position and its location can be ascertained. It has no dimension and direction.
        </p>
        </li>
    <li>
            <p>
            Points are denoted by Capital letters as A, B, C, D.
        </p>
        </li>
    <li>
            <p>
            Line is straight and extends indefinitely in both directions.
        </p>
        </li>
    <li>
            <p>
            A line can be denoted by a single small letter or by 
        </p>
        </li>
    <li>
            <p>
            using any two points A and B on it. 
        </p>
        </li>
    <li>
            <p>
            A line has no end point.
        </p>
        </li>
    <li>
            <p>
            Only one line can be drawn passing through two given points.
        </p>
        </li>
    <li>
            <p>
            Many number of lines can be drawn through a given point.
        </p>
        </li>
    <li>
            <p>
            Collinear Points :-
        </p>
        <p>
            Three or more points are said to be collinear if all of them lie on the same straight line.
        </p>
        </li>
    <li>
            <p>
            Plane : A plane is a flat surface which extends indefinitely in all directions.
        </p>
        </li>
    <li>
            <p>
            Intersecting Lincs : 
        </p>
        <p>
            if two distinct lines in a plane have one point in common they are called intersecting lines. 
        </p>
        </li>
    <li>
            <p>
            The common point is called point of intersection. 
        </p>
        </li>
    <li>
            <p>
            Non-intersecting lines : 
        </p>
        <p>
            If two distinct lines in a plane have no point common they are called non-intersecting lines.
        </p>
        </li>
    <li>
            <p>
            Concurrent lines : 
        </p>
        <p>
            Three or more distinct lines in a plane are said to be concurrent if they all pass through the same point.
        </p>
        </li>
    <li>
            <p>
            The common point is called point of concurrence. 
        </p>
        </li>
    <li>
            <p>
            Line Segment : A line segment is a portion of a line. It has two end points. It is denoted by <app-math-jax>\overline{{"{xy}"}}</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Only one line segment can be drawn joining two given points.
        </p>
        </li>
    <li>
            <p>
            Ray : If a part of a line has one end point but extends indefinitely in the other direction then it is called a ray.
        </p>
        <p>
            O. Initial point 
        </p>
        </li>
    <li>
            <p>
            Opposite rays : Two rays with same initial point but directed in the opposite direction.
        </p>
        <p>
            O - initial point ; OA, 0B - opposite rays.
        </p>
        </li>
    <li>
            <p>
            Any number ofrays can be drawn from a given initial point.
        </p>
        <p>
            
        </p>
        </li>
</ol>
<h1>ANGLES Angle:</h1>
<ol>
    <li>
            <p>
            rays with a conunon initial point form an angle.
        </p>
        </li>
    <li>
            <p>
            Degree : The unit for the measurement of an angle is called degree.
        </p>
        </li>
    <li>
            <p>
            Interior Points = P, Q 
        </p>
        <p>
            Exterior Points = M, N, S
        </p>
        </li>
</ol>
<ol>
    <li>
            <p>
            Kinds of angles
        </p>
        <p>
            Right angle acute angle obtuse angle
        </p>
        </li>
    <li>
            <p>
            Reflex angle 
        </p>
        <p>
            AOB is reflex angle.
        </p>
        </li>
</ol>
<h1>Pair of angles:</h1>
<ol>
    <li>
            <p>
            Complementary angles: 
        </p>
        <p>
            TWO angles are complementary if the sum of their measures is <app-math-jax>90^0</app-math-jax>.
        </p>
        </li>
    <li>
            <p>
             Supplementary angles:
        </p>
        <p>
             Two angles are supplementary if the sum of their measures is 180^0. eg. 70^0, 1 100, 700 + = 1800 500, 1300, 500 + 1300 = 180 0 
        </p>
        </li>
    <li>
            <p>
            Adjacent angles:
        </p>
        <p>
            Two angles in a plane are adjacent angles if they have a common vertex, a common arm and their interiors do not overlap.
        </p>
        <p>
            DAC &amp; ZCAB are adjacent angles.
        </p>
        </li>
    <li>
            <p>
            Linear pair : 
        </p>
        <p>
            Adjacent supplementary angles form a linear pain.
        </p>
        </li>
    <li>
            <p>
            Vertically Opposite angles:
        </p>
        <p>
            1 &amp; 3, 2 &amp; 4 are vertically opposite angles. Vertically opposite angles are equal.
        </p>
        </li>
    <li>
            <p>
            Perpendicular lines:
        </p>
        <p>
            If the angle between two straight lines is <app-math-jax>90^0</app-math-jax> then they are called perpendicular lines. 
        </p>
        </li>
</ol>
<h1>PROPERTIES OF PARALLEL LINES</h1>
<ol>
    <li>
            <p>
            The perpendicular distance between two parallel lines is the same everywhere.
        </p>
        </li>
    <li>
            <p>
            Transversal : A line which intersects two or more given lines at different points is called transversal to the given lines.
        </p>
        <p>
            (i) Exterior angles : Z l, Z2, Z 7 &amp; Z 8 
        </p>
        <p>
            (ii) Interior angles : Z 3, Z4, Z 5 &amp; Z6 
        </p>
        <p>
            (iii) Corresponding angles : Zl &amp; Z 5 ; Z-4 &amp; Z 8
        </p>
        <p>
            (iv) Alternate or Alternate interior angles. Z4&amp;Z6•, Z3&amp;Z5 
        </p>
        <p>
            (v)  Alternate exterior angles. 
        </p>
        </li>
    <li>
            <p>
            If two parallel lines are intersected by a transversal then, 
        </p>
        <p>
            (i) Corresponding angles are equal 
        </p>
        <p>
            (ii) Alternate and Alternate exterior angles are equal. h Alternate Alternate exterior = Zf Za = Zg Lc = Ze Zb = Zh 
        </p>
        <p>
            (iii) Interior angles on the same side of the transversal are supplementary. 
        </p>
        </li>
    <li>
            <p>
            Lines parallel to the same line are parallel to each other. 
        </p>
        </li>
    <li>
            <p>
            Lines perpendicular to the same line are parallel to each other.
        </p>
        </li>
    <li>
            <p>
            If three parallel lines make equal intercepts on one transversal then they make equal intercepts on any other transversal. 
        </p>
        <p>
            AB = BC EF = FG
        </p>
        </li>
    <li>
            <p>
            The intercepts made on any two transversals by three parallel lines are proportional. 
        </p>
        </li>
</ol>
<h1>TRIANGLES</h1>
<ol>
    <li>
            <p>
            Triangle : A three sided closed figure is called a triangle
        </p>
        <p>
            Sides : AB, BC, CA, Vertices : A, B, C Angles LA, LB, ZC (or) c ZCAB, ZABC, ZBCA
        </p>
        </li>
    <li>
            <p>
            Types of Triangles :
        </p>
        <p>
            Based on Sides;
        </p>
        <p>
            (i) Scalene triangle : All sides are unequal.
        </p>
        <p>
            (ii) Isosceles triangle : Two sides are equal.
        </p>
        <p>
            (iii) Equilateral triangle : All sides are equal. 
        </p>
        <p>
            Based on angles : 
        </p>
        <p>
            (iv) Acute Angled triangle : All the angles are acute. 
        </p>
        <p>
            (v) Right angled triangle: One of the angles in a triangle is right angle.
        </p>
        <p>
            (vi) Obtuse angled triangle : One of the angles in a triangle is obtuse angle. 
        </p>
        </li>
    <li>
            <p>
            The sum of the three angles of a triangle is <app-math-jax>180^0</app-math-jax>. 
        </p>
        </li>
    <li>
            <p>
            The sum of any two sides will be greater than the third side
        </p>
        </li>
    <li>
            <p>
            In a triangle, if two sides are equal then the angles opposite to them are also equal. 
        </p>
        </li>
    <li>
            <p>
            Pythagoras theorem 
        </p>
        <p>
            In a right triangle the square on the hypotenuse equals the sum of the squares on other two sides. 
        </p>
        <p>
            Eg : Pythagorean triplets.
        </p>
        <p>
            (3, 4, 5), (5, 12, 13) (7, 24, 25), (8, 15, 17) 
        </p>
        </li>
    <li>
            <p>
            Median : A Median of a triangle is the line segment that joins a vertex to the middle point of the opposite side.
        </p>
        <p>
            (i) medians of a triangle are concurrent at the point G called the Centroid of the triangle.
        </p>
        <p>
            (ii) The Centroid of a triangle divides each median in the ratio 2 : 1. 
        </p>
        </li>
    <li>
            <p>
            Altitude : An altitude of a triangle is the line segnent from a vertex of the triangle perpendicular to the opposite side.
        </p>
        <p>
            (i) The Altitudes of a triangle are concurrent at Orthocentre O. 
        </p>
        </li>
    <li>
            <p>
            Perpendicular bisector : A line which bisects the given line segment at right angles is called the perpendicular bisector. 
        </p>
        <p>
            (i) The perpendicular bisectors of the sides of a triangle are concurrent at circumcentret 
        </p>
        <p>
            (ii) The circumcentre of a triangle is equidistant from its vertices. 
        </p>
        <p>
            SA = SB = SC.
        </p>
        </li>
    <li>
            <p>
            Angle bisector : 
        </p>
        <p>
            A ray which bisects the given angle is called angle bisector. 
        </p>
        <p>
            (i) The angle bisector of the triangle are concurrent at Incentre I. 
        </p>
        <p>
            (ii) The Incentre of a triangle is equidistant from its sides. 
        </p>
        </li>
    <li>
            <p>
            In an equilateral triangle the Centroid, the orthocentre, the circumcentre and the incentre coincide. 
        </p>
        </li>
    <li>
            <p>
            In a right triangle the orthocentre is at the vertex of the right angle.
        </p>
        </li>
    <li>
            <p>
            In a right triangle the circumcentre lies on the mid point of the hypotenuse. 
        </p>
        </li>
    <li>
            <p>
            Congruent figures:
        </p>
        <p>
            Two figures are congruent if they have the same shape and size. 
        </p>
        <p>
            Two plane figures are congruent if each, when superposed on the other covers it exactly. 
        </p>
        <p>
            Two line segments are congruent, if they have the same length. 
        </p>
        </li>
    <li>
            <p>
            angles are congruent if they have the same measure. 
        </p>
        </li>
    <li>
            <p>
            For two triangles to be congruent.
        </p>
        <p>
            (i) SSS Congruence Condition : Three sides of one triangle are equal to the three sides of the other triangle.
        </p>
        <p>
            (ii)SAS Congruence Condition : Two sides and the included angle of the one are respectively equal to the two sides and the included angle of the other. 
        </p>
        <p>
            (iii) AAS Congruence Condition : Two angles and one side of one are equal to two angles and the corresponding side of the other.
        </p>
        <p>
            (iv) RHS Congruence Condition : Two right triangles are congruent, if the hypotenuses are equal and one side of the one is equal to the corresponding side of the other. 
        </p>
        </li>
    <li>
            <p>
            A line through the mid point of a side of a triangle parallel to another side bisects the third side. 
        </p>
        <p>
            (ii) The line segment joining the mid points of two sides of a triangle c is parallel to the third side.
        </p>
        </li>
    <li>
            <p>
            If a line parallel to one side of a triangle intersects the other two sides in distinct points then it cuts off from these sides proportional to these sides
        </p>
        </li>
</ol>
<h1>QUADRILATERALS</h1>
<ol>
    <li>
            <p>
            A Four sided closed figure in a plane is called a Quadrilateral  AC, BD are diagonals 
        </p>
        </li>
    <li>
            <p>
            In a quadrilateral there are four pairs of adjacent angles, two pairs of opposite angles. 
        </p>
        </li>
    <li>
            <p>
            The sum of the angles of a quadrialteral is <app-math-jax>360^0</app-math-jax>, or four right angles. 
        </p>
        </li>
</ol>
<h1>Family of Quadrilaterals</h1>
<h1>Properties of Quadrilateral:</h1>
<ol>
    <li>
            <p>
            Trapezium
        </p>
        <p>
            One pair of Opposite sides are parallel. 
        </p>
        </li>
    <li>
            <p>
            Parallelogram
        </p>
        <p>
            1. Both pairs of opposite sides are parallel 
        </p>
        <p>
            2. Opposite angles are equal 
        </p>
        <p>
            3. diagonals bisect each other 
        </p>
        <p>
            4. sum of two adjacent angles is <app-math-jax>180^0</app-math-jax> 
        </p>
        </li>
    <li>
            <p>
            Rhombus
        </p>
        <p>
            1. Rhombus is a parallelogram in which all sides are equal 
        </p>
        <p>
            2. The diagonals of a Rhombus bisect each other at right angles.
        </p>
        </li>
    <li>
            <p>
            Rectangle
        </p>
        <p>
            1.Rectangle is a parallelogram in which all the angles are equal to <app-math-jax>90^0</app-math-jax>
        </p>
        <p>
            2.The diagonals of a rectangle are equal 
        </p>
        </li>
    <li>
            <p>
            Square
        </p>
        <p>
            1. A Square is a rectangle in which the adjacent sides are equal.
        </p>
        <p>
            2. A Square is a rhombus in which all the angles are equal to <app-math-jax>90^0</app-math-jax>.
        </p>
        <p>
            3. The diagonals are equal and bisect each other at right angles.
        </p>
        </li>
</ol>
<h1>CIRCLES</h1>
<ol>
    <li>
            <p>
            Circle is a Locus of points equidistant from a fixed point. 
        </p>
        <p>
            AB = Diameter ; OC = Radius ; XY = Chord
        </p>
        </li>
    <li>
            <p>
            The fixed point O is called Centre. 
        </p>
        </li>
    <li>
            <p>
            The fixed distance from centre to the circle is called fadius.
        </p>
        </li>
    <li>
            <p>
            Diameter = <app-math-jax>2 \times radius</app-math-jax> 
        </p>
        </li>
    <li>
            <p>
            Diameter is the longest chord of a circle. 
        </p>
        </li>
    <li>
            <p>
            Arc is a part of the circumference. 
        </p>
        </li>
    <li>
            <p>
            ADC is called the minor arc
        </p>
        </li>
    <li>
            <p>
            ASC is called the major arc
        </p>
        </li>
    <li>
            <p>
            Circle is a Locus of points equidistant from a fixed point. 
        </p>
        <p>
            AB = Diameter ; OC = Radius ; XY = Chord
        </p>
        </li>
    <li>
            <p>
            The fixed point O is called Centre. 
        </p>
        </li>
    <li>
            <p>
            The fixed distance from centre to the circle is called fadius.
        </p>
        </li>
    <li>
            <p>
            Diameter = <app-math-jax>2 \times\;radius</app-math-jax> 
        </p>
        </li>
    <li>
            <p>
            Diameter is the longest chord of a circle. 
        </p>
        </li>
    <li>
            <p>
            Arc is a part of the circumference. 
        </p>
        </li>
    <li>
            <p>
            ADC is called the minor arc
        </p>
        </li>
    <li>
            <p>
            ASC is called the major arc
        </p>
        </li>
    <li>
            <p>
            The Diameter divides the circle into two equal parts each part is called a Semi-circle.
        </p>
        </li>
    <li>
            <p>
            Angle in a semicircle is <app-math-jax>90^0\;ADB=90^0</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Angle in the major arc of a circle is acute. <app-math-jax>ACB < 90^0</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Angle in the minor arc of a circle is obtuse.<app-math-jax>ACB > 90^0</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Chords of a Circle and the properties : 
        </p>
        <p>
            In a circle the perpendicular from the centre to a chord bisects the chord. (Conversely) -Lr bisector of a chord of a circle passes through the centre.  
        </p>
        </li>
    <li>
            <p>
            In a circle the line joining the centre and the mid point of a chord is perpendicular to the chord
        </p>
        </li>
    <li>
            <p>
            An angle with its vertex at the centre of the cirlce is called a central angle of the cirlce.
        </p>
        </li>
    <li>
            <p>
            In a circle equal chords subtends equal angles at the centre.  ZAOB = ZCOD
        </p>
        </li>
    <li>
            <p>
            Chords of a circle equidistant from the centre are equal.
        </p>
        </li>
    <li>
            <p>
            If two central angles are equal then the intercepted arcs are also equal. ZAOB = ZCOD  600  then AB is congruent to CD >600 
        </p>
        </li>
    <li>
            <p>
            In a circle with centre O, the degree measure of an arc is the measure of central angle subtended by the arc. = 60 0 , CD = 60 0 
        </p>
        </li>
    <li>
            <p>
             Angle at the centre of the whole circle is 3600.
        </p>
        </li>
    <li>
            <p>
            In a circle the angle at circumference is half the angle at the centre.
        </p>
        </li>
    <li>
            <p>
            Angles inscribed in the same arc of a circle are equal.  ZCED = ZCFD
        </p>
        </li>
    <li>
            <p>
            A quadrilateral inscribed in a circle is called cyclic quadrilateral. (or) A quadrilateral is cyclic if its vertices lie on a circle. 
        </p>
        </li>
    <li>
            <p>
            In a cyclic quadrilateral, the sum of each pair of opposite angles is 1800 . ZA + ZC = 180 0 ZB + 180 0 
        </p>
        </li>
    <li>
            <p>
            An exterior angle in a cyclic quadrilateral is equal to interior opposite angle. 
        </p>
        </li>
</ol>
<h1>Tangents to a circle : </h1>
<ol>
    <li>
            <p>
            A Secant line of a circle is a line that intersects the circle in any two points. 
        </p>
        </li>
    <li>
            <p>
            A tangent line to a circle is a line that touches the circle in exactly at one point. 
        </p>
        </li>
        <li>
            <p>
                The tangent at a point and the radius through the point of contact are perpendicular each other.
            </p>
        </li>
    <li>
            <p>
            The common point to the circle and its tangent is called the point of contact. 
        </p>
        </li>
    <li>
            <p>
            Through a given point on a circle only one tangent can be drawn. 
        </p>
        </li>
    <li>
            <p>
            Through a given point in the interior of the circle no tangent can be drawn. 
        </p>
        </li>
    <li>
            <p>
            Through a given point outside the circle two tangents can be drawn. 
        </p>
        <p>
            A, B are points of contact.
        </p>
        </li>
    <li>
            <p>
            Length of the tangent from a point P outside the circle is the length of the line segment joining the given point and the point of contact.
        </p>
        </li>
    <li>
            <p>
            Lengths of the tangents to the circle from an external point are equal. 
        </p>
        </li>
    <li>
            <p>
            The two tangents to a circle from an external point are equally inclined to the line joining the point to the centre of the cirlce. 
        </p>
        </li>
</ol>







