<h1>REAL NUMBERS</h1>
<ol>
    <li>
            <p>
            Equations like <app-math-jax>x^2-3 = 0</app-math-jax> have no solution in Rational numbers (Q). 
        </p>
        <p>
            Such considerations forced the extension of &quot;Q&quot; to the set &quot;R&quot; of real numbers by adding irrational numbers to Q. 
        </p>
        <p>
            An irrational number is one which cannot be expressed as <app-math-jax>{{&quot;\\frac{p}{q}&quot;}} \neq 0</app-math-jax>  where &quot;p&quot; and &quot;q&quot; are integers.
        </p>
        <p>
            Ex : are irrational numbers. 
        </p>
        <p>
            <app-math-jax>\sqrt2 , \sqrt[3]3, \sqrt{{&quot;{1+\\sqrt2}&quot;}} </app-math-jax>
        </p>
        <p>
            The successive extensions of number system gives, 
        </p>
        <p>
            <app-math-jax>N \subset Z \subset Q \subset R</app-math-jax>
        </p>
        <p>
            Here, N is the set natural numbers 
        </p>
        <p>
            Z is the set of integers. 
        </p>
        <p>
            Q is the set of Rational numbers. 
        </p>
        <p>
            The Real numbers are denoted by the symbol &quot;R&quot;.
        </p>
        </li>
        <li>
            <p>
            An irrational number is a non- terminating non-repeating decimal. 
        </p>
        <p>
            Eg. = 1.414........
        </p>
        </li>   
        <li>
            <p>
            The sum of a rational number and an irrational number 
        </p>
        <p>
            is always irrational.
        </p>
        <p>
            Eg. <app-math-jax>2+\sqrt 5</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            The product of a non - Zero rational number and an 
        </p>
        <p>
            irrational number is always irrational. 
        </p>
        <p>
            Eg. <app-math-jax>3\times \sqrt 5</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Functions or mapping : 
        </p>
        <p>
            Consider any two non- empty sets A and B. Let f denote some rule which associates with each element of A. an unique element of B. 
        </p>
        <p>
            We then call &quot;f&#x27; as a mapping or a function from A to B. 
        </p>
        <p>
            It is denoted by <app-math-jax>f : A \to B.</app-math-jax> 
        </p>
        <p>
            Eg : Let <app-math-jax>f: N \to N</app-math-jax> defined by f(x) = 3x. Where x e N. 
        </p>
        <p>
            When <app-math-jax>x = 1,2,3,4</app-math-jax> 
        </p>
        <p>
                <app-math-jax>3x = 3, 6, 9, 12</app-math-jax>
        </p>
        <p>
            In this fitnction , we have
        </p>
        <p>
            Domain = {{&quot;{1, 2, 3, 4....}&quot;}}
        </p>
        <p>
            Range ={{&quot;{3, 6, 9, 12....}&quot;}} 
        </p>
        </li>     
</ol>


