<h1>LOGARITHMS</h1>
<ol>
    <li>
            <p>
            If <app-math-jax>a^x = N\;then\;x</app-math-jax> is said to be the logarithm of the number N to the base &#x27;a&#x27; and is written as 
        </p>
        <p>
            <app-math-jax> \log_a N = x</app-math-jax>
        </p>
        <p>
            E.g. <app-math-jax>2^3 =8\;;\;\log_2 8 = 3</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Laws of logarithm 
        </p>
        <p>
            <app-math-jax>\log_a mn = \log_a m +\log_a n </app-math-jax>
        </p>
        <p>
            <app-math-jax>\log_a {{&quot;\\frac{m}{n}&quot;}} = \log_a m - log_a n </app-math-jax>
        </p>
        <p>
            <app-math-jax> \log_a m^n = n \log_a m</app-math-jax>
        </p>
        <p>
            Note :
        </p>
        <p>
             <app-math-jax>\log_a 1 = 0 </app-math-jax> [log 1 to any base is 0]
        </p>
        <p>
            <app-math-jax>\log_a a = 1</app-math-jax>
        </p>
        <p>
            Common logarithms have base 10, They are used for Calculations. 
        </p>
        </li>
</ol>

