<h1>SET LANGUAGE</h1>
<ol>
    <li>
            <p>
            Set : 
        </p>
        <p>
            a well defined collection of objects
        </p>
        <p>
            Eg : Set of flowers,set of natural numbers, set of English alphabet, 
        </p>
        </li>
    <li>
            <p>
            Elements of the Set :
        </p>
        <p>
            If &#x27;A&#x27; is any set, every object in A is called an element of the Set. 
        </p>
        <p>
            Ex : If <app-math-jax>A = (a, b, c, d ),\;a</app-math-jax> belongs to A, but e does not belong to A, then a = A but e = A.
        </p>
        </li>
    <li>
            <p>
            A get is expressed as Roster forni and Set builder form : 
        </p>
        <p>
            (i) Roster form (or) Tabular form 
        </p>
        <p>
            Eg. <app-math-jax>A = (1,2,3,......, 10)</app-math-jax>
        </p>
        <p>
            (ii) Set builder form (or) Rule form : 
        </p>
        <p>
            <app-math-jax>A = (x : x < 10 and x c N)</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Singleton Set 
        </p>
        <p>
            A set which has only one element is called a &quot;Singleton Set&quot;
        </p>
        <p>
            Ex : A Set of even pritne nutnber (i.e.) ( 2 ) 
        </p>
        </li>
    <li>
            <p>
            Finite Set : 
        </p>
        <p>
            A set which has a finite number of elements is called a &quot;finite set.&quot; 
        </p>
        <p>
            Ex : x = (a, e, i, o, u) 
        </p>
        </li>
    <li>
            <p>
            Null Set (or) Empty set : 
        </p>
        <p>
            A set containing no elements is called a null set (or) empty set (or) void set and it is denoted by 0 (or) ().
        </p>
        <p>
            Ex : Set of whole numbers greater than 8 but less than 5. 
        </p>
        </li>
    <li>
            <p>
            Infinite Set : 
        </p>
        <p>
            A set which has an infinite number of elements is called an infinite set.
        </p>
        </li>
    <li>
            <p>
            Equal Sets 
        </p>
        <p>
            Two sets A and B are called equal sets if both contain the same elements.
        </p>
        </li>
    <li>
            <p>
            Equivalent Sets
        </p>
        <p>
            Two sets A and B are called equivalent sets if they contain the same number of elements.
        </p>
        </li>
    <li>
            <p>
            All equal sets are equivalent but all equivalent sets need not be equal. 
        </p>
        </li>
    <li>
            <p>
            Subset : 
        </p>
        <p>
            A Set &#x27;A&#x27; is called a subset of set &#x27;B&#x27; if every element of A is in B. It is denoted by A C B. 
        </p>
        <p>
            Ex: A=(1, 3, 5, 7, 9) and B =(1,2,3,4,...10) 
        </p>
        <p>
            then A B. 
        </p>
        </li>
    <li>
            <p>
            Proper Subset : 
        </p>
        <p>
            If &#x27;A&#x27; is a subset of &#x27;B&#x27; and A B then A is called a proper subset of B. It is denoted by A c B. 
        </p>
        </li>
    <li>
            <p>
            Cardinal number of the Set : 
        </p>
        <p>
            The number of distinct elements in the Set &#x27;A&#x27; is called Cardinal number of the set A. It is denoted by n (A). 
        </p>
        <p>
            Eg. : A = (1, 2, 3, 4) ; then n(A) = 4. 
        </p>
        </li>
    <li>
            <p>
            Power Set 
        </p>
        <p>
            The set of all Subsets of &#x27;A&#x27; is called the power set and it is denoted by P(A). 
        </p>
        <p>
            Eg. : If A = (a, b, c) then P(A) =  , 
        </p>
        <p>
            The number of power sets of a set is 2n where n is the number of elements of a set.  
        </p>
        </li>
    <li>
            <p>
            (i)  Every set is a subset of itself. 
        </p>
        <p>
            (ii) Empty set is a subset of every set. 
        </p>
        </li>
    <li>
            <p>
            Union of Sets : 
        </p>
        <p>
            The union of two sets &#x27;A&#x27; and &#x27;B&#x27; is A U B. It denotes all elements of the two sets. 
        </p>
        <p>
            AUB = (x : x e A (or) x e B (or) x e both A and B) 
        </p>
        <p>
            Eg. : Let A = (a, p, l, e), B = (o, r, a, n, g, e] then AUB= (a, p, 1, e, 0, r, n, g) 
        </p>
        <p>
            Note : The common elements &#x27;a&#x27; and &#x27;e&#x27; have to be taken only once while writing A U B. 
        </p>
        </li>
    <li>
            <p>
            Intersection of Sets 
        </p>
        <p>
            The intersection oftwo sets &#x27;A&#x27; and &#x27;B&#x27; is A B. It denotes only the elements which are common to both sets. 
        </p>
        <p>
            A n B (x : xe A and x e B) 
        </p>
        <p>
            Eg. : Let A = (1, 2, 3, 4, 5) and B = (3, 5, 6, 7) then 
        </p>
        <p>
            AnB= (3, 5) 
        </p>
        </li>
    <li>
            <p>
            Disjoint Sets :
        </p>
        <p>
            Two sets A and B are said to be disjoint if there is no common element (i.e.) A B = 7, 9) andB (2, 4, 6, 8, 10) . A and B are disjoint sets.
        </p>
        </li>
    <li>
            <p>
            Laws : Let A, B and C be any three sets. 
        </p>
        <p>
            (i) Commutative Laws : 
        </p>
        <p>
            AUB=BUA and AnB=BAA 
        </p>
        <p>
            (ii) Associative Laws : 
        </p>
        <p>
            AU(BUC) = (AUB)UC 
        </p>
        <p>
            (iii) Distributive Laws : 
        </p>
        <p>
            A U (B n C) = (A U B) n (A U C) An (B U C) = (A n B) U (A n C) 
        </p>
        </li>
    <li>
            <p>
            Universal Set : 
        </p>
        <p>
            It is the set of all elements which can be considered relevant for the mathematical discussion on hand. 
        </p>
        <p>
            Eg. : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10).
        </p>
        </li>
    <li>
            <p>
            Complement of a Set : 
        </p>
        <p>
            Let &#x27;A&#x27; be a subset of a Universal Set &#x27;U&#x27;. The complement of A is the set of all elements of &quot;U&quot; that are not in A.
        </p>
        <p>
            We denote it by A&#x27; = (x : x e U and x e A) 
        </p>
        <p>
            Let (1, 2, 3, 4) and A= p, 4) then A&#x27;= (1, 3) 
        </p>
        </li>
    <li>
            <p>
            If A = U, then A&#x27;
        </p>
        </li>
    <li>
            <p>
            If  
        </p>
        </li>
    <li>
            <p>
             If A and B are any two sets, then 
        </p>
        </li>
    <li>
            <p>
             If A and B are disjoint sets, then
        </p>
        </li>
    <li>
            <p>
            De Morgan&#x27;s Laws:
        </p>
        <p>
            Let A and B be any two sets, then 
        </p>
        </li>
    <li>
            <p>
            Venn-Diagrams:
        </p>
        <p>
            (i) Commutative Laws : 
        </p>
        <p>
                (a) AUB =BUA and 
        </p>
        <p>
                (b) AnB=B n A 
        </p>
        </li>
    <li>
            <p>
            (ii) Associativc Laws : 
        </p>
        <p>
            (a) AU (B U C) = (A U B) U C and 
        </p>
        <p>
            (a) AU (B U C) = (A U B) UC 
        </p>
        <p>
            L.H.S. = AU (B U C) 
        </p>
        <p>
            
        </p>
        </li>
</ol>

