<h1>ALGEBRAIC EXPRESSIONS</h1>
<ol>
    <li>
            <p>
            Literal Numbers : Quantities vary from time to time can conveniently be expressed using a small letter or an alphabet. 
        </p>
        <p>
            Eg. The temperature of a city during a week is <app-math-jax>t^0</app-math-jax> C.
        </p>
        <p>
            The price of potatoes in the month of March is Rs, &#x27;x&#x27; / kg.
        </p>
        </li>
    <li>
            <p>
            Constant : A quantity which takes a fixed numerical value is called a constant. 
        </p>
        <p>
            Eg. <app-math-jax>x \times 5,</app-math-jax> 5 is a constant.
        </p>
        <p>
                <app-math-jax>2x-3,</app-math-jax> -3 is a constant.
        </p>
        </li>
    <li>
            <p>
            Variable : A quantity which takes various numerical value is called a Variable.
        </p>
        <p>
            Eg. <app-math-jax>3a-5,</app-math-jax> a is a variable.
        </p>
        <p>
                <app-math-jax>x^2+4x-3,</app-math-jax> x is a variable.
        </p>
        </li>
    <li>
            <p>
            Co-efficient : <app-math-jax>3x+4</app-math-jax> : 3 is the co-efficient of x. 
        </p>
        <p>
              <app-math-jax>5x^2-4x-2</app-math-jax> : Co-efficient of <app-math-jax>x^2</app-math-jax> is 5. Co-efficient of x is -4.
        </p>
        </li>
    <li>
            <p>
            Monomial : An expression which contains only one term. 
        </p>
        <p>
            Eg. <app-math-jax>5, 3x,{{&quot;\\frac{y}{2}&quot;}}</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Binomial : An expression which contains two terms.
        </p>
        <p>
            Eg. <app-math-jax>x^2-3, 4y+9</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Trinomial : An expression having 3 terms
        </p>
        <p>
            Eg. <app-math-jax>y^2-4y-9</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Like and Unlike terms : Terns that have the same variables with same powers are called like terms otherwise they are called unlike terms. 
        </p>
        <p>
            Like terms : <app-math-jax>4a,3a</app-math-jax>
        </p>
        <p>
            Unlike terms : <app-math-jax>9a^2,7a</app-math-jax> 
        </p>
        </li>
</ol>
<h1>IDENTITIES</h1>
<ol>
    <li>
            <p>
            <app-math-jax>(a+b)^2=(a-b)^2+4ab</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            <app-math-jax>(a+b)(a-b)=a^2-b^2</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            <app-math-jax>(a+b)^3=a^3+3a^2b+3ab^2+b^3=a^3+3ab(a+b)+b^3</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            <app-math-jax>(a-b)^3=a^3-3a^2b+3ab^2-b^3=a^3-3ab(a-b)-b^3</app-math-jax>
        </p>
        <p>
            
        </p>
        </li>
    <li>
            <p>
            <app-math-jax>(a+b+c)^2=a^2+b^2+c^2+2ab+2bc+2ca</app-math-jax>
        </p>
        <p>
            The terms will take the sign according to the sign of a, b and c.
        </p>
        <p>
            Eg. <app-math-jax>(a+b-c)^2=a^2+b^2+c^2+2ab-2bc-2ca</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            <app-math-jax>a^3+b^3=(a+b)(a^2-ab-b^2)=(a+b)^3\;-3ab(a+b)</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            <app-math-jax>a^3-b^3=(a-b)(a^2-ab-b^2)=(a-b)^3+3ab(a-b)</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            <app-math-jax>(a+b+c)(a^2+b^2+c^2-ab-bc-ca)=a^3+b^3+c^3-3abc</app-math-jax>
        </p>
        <p>
            (a) if <app-math-jax>(a+b+c)=0\;then\;a^3+b^3+c^3=3abc</app-math-jax>
        </p>
        <p>
            (b) if <app-math-jax>a^2+b^2+c^2-ab-bc-ca=0\;then\;a^3+b^3+c^3=3abc</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            <app-math-jax>(x+a)(x+b)=x^2+x(a+b)+ab</app-math-jax>
        </p>
        </li>
</ol>
<h1>LINEAR EQUATION</h1>
<ol>
    <li>
            <p>
            A statement of equality involving one or more literals and (or) numbers is called an equation.
        </p>
        <p>
            Eg. <app-math-jax>2^x-4=3\;;\;x+5={{&quot;\\frac{4}{3}&quot;}}</app-math-jax>
        </p>
        <p>
            Note : An equation of degree one is called a linear equation.
        </p>
        </li>
    <li>
            <p>
            Properties of Equations: 
        </p>
        <p>
            An equation holds good.
        </p>
        <p>
            a) When same quantities are added to both sides.
        </p>
        <p>
            b) When same quantities are subtracted from both sides. 
        </p>
        <p>
            c) When both sides are multiplied or divided by the same quantity (non zero).
        </p>
        </li>
    <li>
            <p>
            Transposing a term means changing its sign and taking it to other side of the equation.
        </p>
        <p>
            Eg. <app-math-jax>x+5=3\;;\;x=3-5\;(transposing\;5\;from\;LHS\;to\;RHS)</app-math-jax>
        </p>
        </li>
</ol>
<h1>POLYNOMIALS</h1>
<ol>
    <li>
            <p>
            Polynomial : An expression having positive integers as exponents
        </p>
        <p>
            Eg. <app-math-jax>x^2+{{&quot;\\frac{2}{3}&quot;}}x-5\;;\;\sqrt{{&quot;3x&quot;}}-4</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Degree of a Polynomial : The highest power of the variable.
        </p>
        <p>
            Eg. <app-math-jax>x^2+x^1y^1z^1-3x+4y</app-math-jax>  - Degree is 3
        </p>
        <p>
            <app-math-jax>x^3y^2-x^2+5y</app-math-jax> - Degree is 5
        </p>
        </li>
</ol>
<h1>FACTOR THEOREM</h1>
<ol>
    <li>
            <p>
            Let P(x) be a polynomial of degree x > 0. 
        </p>
        <p>
            If p(a) = 0 for a real number a, then (x - a) is a factor of p(x). 
        </p>
        <p>
            Conversely if (x - a) is a factor of p(x) then p(a) = 0.
        </p>
        <p>
            Ex : <app-math-jax>P(x)=x^3-3x^2+4x-12</app-math-jax>. Is (x-3) a factor of p(x) ?
        </p>
        <p>
            Here, <app-math-jax>p(a)=p(3)=3^3-3\times3^2+4\times3-12</app-math-jax>
        </p>
        <p>
            <app-math-jax>=27-27+12-12=0</app-math-jax>
        </p>
        <p>
            <app-math-jax>(x-\;3)\;is\;a\;factor\;of\;p(x)</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Remainder Theorem : 
        </p>
        <p>
            Let p(x) be any polynomial of degree <app-math-jax>n\;\geq\;1</app-math-jax>, and &#x27;a&#x27; any real number. 
        </p>
        <p>
            If p(x) is divided by x - a, then the remainder is p(a). 
        </p>
        <p>
            Eg. Find the remainder when <app-math-jax>p(x)=x^2+4x+2</app-math-jax> is divided by x+2.
        </p>
        <p>
            <app-math-jax>p(-2)=(-2)^2+4(-2)+2</app-math-jax>
        </p>
        <p>
            <app-math-jax>4-8+2=-2</app-math-jax> Remainder is -2.
        </p>
        </li>
</ol>
<h1>RATIO AND PROPORTION</h1>
<ol>
    <li>
            <p>
            Ratio : Comparison of two of two quantities of the same kind will result in a ratio.
        </p>
        <p>
            The ratio of a number &#x27;a&#x27; to another number &#x27;b&#x27; <app-math-jax>(b \neq 0)\;is\;the\;quotient {{&quot;\\frac{a}{b}&quot;}}</app-math-jax> and is written as a:b where &#x27;a&#x27; and &#x27;b&#x27; are called its terms. 
        </p>
        <p>
            If should the two be quantities are in same the same unit(kind) they should be converted into the same unit.
        </p>
        <p>
            E.g. (i) 7 Boys, 9 Girls
        </p>
        <p>
            Ratio of Boys to girls is 7 : 9
        </p>
        <p>
            Ratio of Girls to boys is 9 : 7
        </p>
        <p>
            (ii)1 dozen to 1 score 
        </p>
        <p>
            1 doz. = 12 items ; 1 score = 20 items
        </p>
        <p>
            therefore Ratio is 12:20 <app-math-jax>\begin{{"{bmatrix}"}} \frac{{"{12}{4}"}} & \frac{{"{20}{4}"}}  \end{{"{bmatrix}"}}</app-math-jax>
       3:5
        </p>
        <p>
            (iii) Note:<app-math-jax>3:4=6:8</app-math-jax>
        </p>
        <p>
            <app-math-jax>20:30=2:3</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Proportion : When two ratios are equal they are said to be in proportion. 
        </p>
        <p>
            <app-math-jax>4:5 = 24:30</app-math-jax>
        </p>
        <p>
            <app-math-jax>4\times30=5\times24=120</app-math-jax>
        </p>
        <p>
            So, Product of means = Product of extremes in a proportion. 
        </p>
        <p>
            <app-math-jax>4:K :: K:16</app-math-jax>
        </p>
        <p>
            <app-math-jax>K^2 = 4\times16=64</app-math-jax>
        </p>
        <p>
            <app-math-jax>K^2=8^2 \implies K=8</app-math-jax>
        </p>
        <p>
            K is called the mean proportional between 4 and 16. 
        </p>
        </li>
    <li>
            <p>
            Percentage and its Applications :
        </p>
        <p>
            Percentage : A fraction with its denominator as 100 is called a percent.
        </p>
        <p>
            E.g. <app-math-jax>9:100\;is\;9\% \;or\;{{&quot;\\frac{9}{100}&quot;}}=9\% </app-math-jax>
        </p>
        <p>
            (i) <app-math-jax>{{&quot;\\frac{16}{25}&quot;}}={{&quot;\\frac{16}{25}&quot;}}\times100=64\% </app-math-jax>
        </p>
        <p>
            (ii) <app-math-jax>75\% = {{&quot;\\frac{75}{100}&quot;}}={{&quot;\\frac{3}{4}&quot;}}\;or\;3:4</app-math-jax>
        </p>
        </li>
</ol>
<ol>
    <li>
            <p>
            Cost Price and Selling Price :
        </p>
        <p>
            The money paid by the shopkeeper to buy the goods is called the Cost price (C.P.) and 
        </p>
        <p>
            the price at which the goods are sold is called the Selling Price (S.P.). 
        </p>
        <p>
            C.P. includes overhead charges also. 
        </p>
        </li>
    <li>
            <p>
            Marked Price : The price that is mentioned on a commodity is called the Marked Price.
        </p>
        </li>
    <li>
            <p>
            Profit and Loss : 
        </p>
        <p>
            If S.P > C.P., Profit = S.P. - C.P. 
        </p>
        <p>
            If S.P < C.P., Loss = C.P. - S.P. 
        </p>
        <p>
            <app-math-jax>Profit\%={{&quot;\\frac{Profit}{C.P}&quot;}}\times100</app-math-jax> 
        </p>
        <p>
            <app-math-jax>Loss\%={{&quot;\\frac{Loss}{C.P}&quot;}}\times100</app-math-jax> 
        </p>
        </li>
        <li>
            <p>
            <app-math-jax>S.P=C.P. + Gain or C.R - Loss</app-math-jax>
        </p>
        <p>
            <app-math-jax>S.P= {{&quot;\\frac{100-Loss\\% }{100}&quot;}} \times C.P\;or</app-math-jax>  
        </p>
        <p>
            <app-math-jax>S.P= {{&quot;\\frac{100-Gain\\% }{100}&quot;}} \times C.P</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Simple Interest :
        </p>
        <p>
            Simple Interest <app-math-jax>S.I = {{&quot;\\frac{PTR}{100}&quot;}}</app-math-jax> Where P = Principal, T = Time, R = Rate of interest.
        </p>
        <p>
            Amount &#x27;A&#x27; = P + S.I. 
        </p>
        </li>
    <li>
            <p>
            Discount : Discount is offered on the Marked Price (M.P.) of the article by the shopkeeper and is generally expressed as a percentage of the M.P.
        </p>
        </li>
    <li>
            <p>
            Compound Interest :
        </p>
        <p>
            Amount <app-math-jax>A =P\left(1+{{&quot;\\frac{r}{100}&quot;}}\right)^n</app-math-jax> 
        </p>
        <p>
            and <app-math-jax>C.I. = A - P</app-math-jax> or 
        </p>
        </li>
</ol>




