<h1>QUADRATIC EQUATIONS</h1>
<ol>
    <li>
            <p>
            Quadratic Polynomial : 
        </p>
        <p>
            A polynomial of second degree is caled a quadratic polynomial. 
        </p>
        <p>
            Eg. <app-math-jax>x^2 - 3</app-math-jax> 
        </p>
        <p>
                <app-math-jax>4x^2 - 5x + 6.</app-math-jax> 
        </p>
        </li>
    <li>
            <p>
            Zeros of a Quadratic polynomial : 
        </p>
        <p>
            The value of x in a polynomial for which polynomial function becomes zero, is called zero(s) of the given polynomial. 
        </p>
        <p>
            If &#x27;a&#x27; is a zero of the polynomial <app-math-jax>f(x)\;then\;f(a) = 0. </app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Quadratic Equation : 
        </p>
        <p>
            An equation of degree 2 is a quadratic equation. 
        </p>
        <p>
            Eg : <app-math-jax>2x^2 -4x+ 7 =0 </app-math-jax>
        </p>
        <p>
            <app-math-jax>ax^2 + bx + c = 0</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Nature of the Roots of the equation <app-math-jax> ax^2 + bx+ c = 0</app-math-jax> 
        </p>
        <p>
            Discriminent : <app-math-jax> D = b^2 -4ac</app-math-jax> 
        </p>
        <p>
            (i) If D>O  - unequal  and real roots
        </p>
        <p>
            (ii) If D-O -  equal and real roots
        </p>
        <p>
            (iii) If D < O - No real roots. 
        </p>
        </li>
        <li>
            <p>
            Roots of the equation <app-math-jax>ax^2 + bx+ c = 0</app-math-jax> are
        </p>
        <p>
            <app-math-jax>\alpha = {{&quot;\\frac{-b+\sqrtB}{2a}&quot;}}\;and\;\beta ={{&quot;\\frac{-b-\sqrtB}{2a}&quot;}} </app-math-jax> 
        </p>
        </li>
    <li>
            <p>
            Sum of the roots <app-math-jax>\alpha+ \beta = {{&quot;\\frac{-b}{a}&quot;}}</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Product of the roots <app-math-jax>\alpha \beta = {{&quot;\\frac{c}{a}&quot;}}</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Equal roots <app-math-jax>\alpha = \beta = {{&quot;\\frac{-b}{2a}&quot;}}</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            If <app-math-jax>\alpha\;and\;\beta</app-math-jax> are the roots of the equation then the 
        </p>
        <p>
            equation can be written as 
        </p>
        <p>
            <app-math-jax>x^2 - x(sum\;of\;the\;roots)+(product\;of\;the\;roots)=0</app-math-jax> (or)
        </p>
        <p>
            <app-math-jax>x^2-x(\alpha + \beta)+ \alpha \beta =0</app-math-jax>
        </p>
        </li>
        <li>
            <p>
            lmportant Formulae :
        </p>
        <p>
            <app-math-jax>\alpha^2 + \beta^2 = (\alpha+\beta)^2 - 2\alpha \beta</app-math-jax>
        </p>
        <p>
            <app-math-jax>(\alpha - \beta)^2 = (\alpha+\beta)^2 - 4\alpha \beta</app-math-jax>
        </p>
        <p>
            <app-math-jax>\alpha^4 + \beta^4 =\;[(\alpha+\beta)^2 -2\alpha \beta]^2 -2 \alpha^2 \beta^2</app-math-jax>
        </p>
        <p>
            <app-math-jax>\alpha^5 + \beta^5 =\; (\alpha^3+\beta^3)\;(\alpha^2+\beta^2) - \alpha^2 \beta^2 (\alpha+\beta)</app-math-jax>
        </p>
        </li>
</ol>

