<h1>SURDS</h1>
<ol>
    <li>
            <p>
            Definition : 
        </p>
        <p>
            If &#x27;a&#x27; is a positive rational number an irrational number of the type <app-math-jax> \sqrt[n]a or a^{{&quot;\\frac{1}{n}&quot;}} </app-math-jax> is called a Surd. 
        </p>
        <p>
            The symbol <app-math-jax>\sqrt[n]{{"{}"}}</app-math-jax> is called the radical. Sign &#x27;n&#x27; is called the order of the surd and &#x27;a&#x27; is called the radicand. 
        </p>
        <p>
            Eg : a) <app-math-jax>\sqrt 3 </app-math-jax> is a surd of order 2 and 3 is the radicand. 
        </p>
        <p>
            b) <app-math-jax>\sqrt[5]7 </app-math-jax> is a surd of order 5 and 7 is the radicand. 
        </p>
        <p>
            Note :  <app-math-jax>\sqrt{{&quot;{7+\\sqrt5}&quot;}}</app-math-jax> is not a surd because  is not a rational number.
        </p>
        <p>
            <app-math-jax>7 + \sqrt5</app-math-jax>
        </p>
        <p>
            <app-math-jax>\sqrt{{&quot;{81}&quot;}}</app-math-jax> is not a surd, because = which is a rational number.
        </p>
        </li>
    <li>
            <p>
            Pure Surd : 
        </p>
        <p>
             <app-math-jax>\sqrt 5\;, \sqrt[5]4</app-math-jax> are pure surds. 
        </p>
        </li>
        <li>
            <p>
            Mixed Surd : 
        </p>
        <p>
            <app-math-jax> 5 + \sqrt[3]7\;,3\times\sqrt 5 </app-math-jax> are mixed surds, 
        </p>
        </li>
    <li>
            <p>
            Similar Surds or like Surds:
        </p>
        <p>
            <app-math-jax> 5 \times\sqrt 7\;,9\times\sqrt 7 </app-math-jax> are like Surds. (Same irrational factors) 
        </p>
        </li>
    <li>
            <p>
            Dissimilar surds or unlike surds : 
        </p>
        <p>
            <app-math-jax> \sqrt 5\;,6\times\sqrt 11 </app-math-jax> are unlike Surds. (Different irrational factors). 
        </p>
        </li>
    <li>
            <p>
            Addition and subraction of surds :
        </p>
        <p>
            <app-math-jax> 2\sqrt 3 + 5\times\sqrt 13 = 7\times\sqrt 3 </app-math-jax>
        </p>
        <p>
            <app-math-jax> 4\sqrt 7 - \sqrt 7 = 3\times\sqrt 7 </app-math-jax>
        </p>
        <p>
            Note : Only similar surds are involved. 
        </p>
        </li>
    <li>
            <p>
            Multiplication and division of two surds :
        </p>
        <p>
            <app-math-jax> \sqrt 2 \times \sqrt 17 = \sqrt {{&quot;{14}&quot;}} </app-math-jax>
        </p>
        <p>
            <app-math-jax> \sqrt[5]{{&quot;{24}&quot;}} \div \sqrt[5] 6 = \sqrt[5]4 </app-math-jax> 
        </p>
        <p>
            Note : same order for both the surds 
        </p>
        </li>
        <li>
            <p>
            Rationalisation of Surds : 
        </p>
        <p>
            To rationalise <app-math-jax>\sqrt[2]3\;,we\;multiply\;\sqrt[2]3\;by\;\sqrt 3 </app-math-jax>
        </p>
        <p>
            <app-math-jax>\sqrt 3\;is\;a\;rationalising\;factor\;of\;\sqrt[2]3</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Rationalising the denominator of Surds : 
        </p>
        <p>
            <app-math-jax>{{&quot;\\frac {3}{2 \\sqrt2}&quot;}}={{&quot;\\frac {3}{ 2 \\sqrt2}&quot;}} \times {{&quot;\\frac {\\sqrt2}{\\sqrt2}&quot;}}={{&quot;\\frac {3 \\sqrt2}{2 \\times 2}&quot;}}={{&quot;\\frac {3 \\sqrt2}{4}&quot;}}</app-math-jax>
        </p>
        <p>
            To express <app-math-jax>{{&quot;\\frac{5}{\\sqrt 12}&quot;}}</app-math-jax> with rational denominators
        </p>
        <p>
         </p>
        <p>
            Now rationalise the denominator of <app-math-jax>{{&quot;\\frac{4}{2 \\sqrt3}&quot;}}</app-math-jax>
        </p>
        <p>
         </p>
        
        </li>
        <li>
            <p>
            Rationalisation of binomial quadratic surds : 
        </p>
        <p>
            To express <app-math-jax>{{&quot;\\frac{5}{2 \\sqrt5 - 3 \\sqrt2}&quot;}}</app-math-jax> with a rational denominator we 
        </p>
        <p>
            multiply the numerator and denominator by the conjugate of
        </p>
        <p>
            <app-math-jax>2 \sqrt5 - 3 \sqrt2.\;that\;is 2 \sqrt5 + 3 \sqrt2</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Comparison of Surds : 
        </p>
        <p>
            Case I : 
        </p>
        <p>
            Case 2 :  When the order is same.  C5 < because 5 < 18. 
        </p>
        <p>
            When the order is not same. 
        </p>
        </li>
</ol>

