<h1>LOCI AND CONCURRENCY</h1>
<ol>
    <li>
            <p>
            The locus of a point is the set of all points which satisfy some given condition(s). The plural of locus is LOCI. 
        </p>
        </li>
    <li>
            <p>
            The locus of a point equidistant form two given points is the perpendicular bisector of the line segment joining the two points [Figure : 1.1] 
        </p>
        </li>
    <li>
            <p>
            The locus of a point equidistant form two intersecting lines is the pair of lines bisecting the angles formed by the given lines. [Figure 1.2]
        </p>
        </li>
        <li>
            <p>
             AREA :
        </p>
        <p>
             Parallelograms on equal bases and between same parallels are equal in area. Triangles on the same base and between the same parallels are equal in area. If a triangle and parallelogram are on the same base and between the same parallels, the area of the triangle is equal to half that of the parallelogram. 
        </p>
        </li>
    <li>
            <p>
             SIMILAR TRIANGLES : 
        </p>
        <p>
            Two triangles are said to be similar to each other if
        </p>
        <p>
            (a) their corresponding angles are equal - and 
        </p>
        <p>
            (b) the lengths of their corresponding sides are proportional 
        </p>
        <p>
            Two polygons are said to be similar if 
        </p>
        <p>
              (a) their corresponding angles are equal and 
        </p>
        <p>
              (b) the lengths of their corresponding sides are proportional.
        </p>
        </li>
    <li>
            <p>
            AAA Similarity : 
        </p>
        <p>
            If in two triangles corresponding angles are equal then the triangles are similar. 
        </p>
        </li>
    <li>
            <p>
            SSS Similarity : 
        </p>
        <p>
            If the corresponding sides of two triangles are proportional then the triangles are similar.
        </p>
        </li>
    <li>
            <p>
            AA Corollary : 
        </p>
        <p>
            If two angles of one triangle are respectively gqual to two angles of another triangle, then the two triangles are similar. 
        </p>
        </li>
    <li>
            <p>
            SAS Similarity : 
        </p>
        <p>
            If in two triangles, one pair of corresponding sides are proportional and the included angles are equal then the two triangles are similar. 
        </p>
        </li>
</ol>
<h1>BASIC PROPORTIONALITY THEOREM : (OR) THALES' THEOREM :</h1>
<ol>
    <li>
            <p>
            In a triangle, a line drawn parallel to one side to intersect the other two sides in distinct points divides the two sides in the same ratio. 
        </p>
        <p>
            If DE I I BC then  AD/DB = AE/EC also AD/AB = AE/AC c 
        </p>
        </li>
    <li>
            <p>
            Converse:
        </p>
        <p>
            In a triangle if a line divides any two sides proportionally then the line is parallel to the third side.
        </p>
        </li>
    <li>
            <p>
            ANGLE BISECTOR THEOREM : 
        </p>
        <p>
            The bisector of an interior angle of a triangle divides the opposite side in the ratio of the sides containing the angle. 
        </p>
        <p>
            (i) AD is the bisector of LA, then <app-math-jax>{{&quot;\\frac{AB}{AC}&quot;}}={{&quot;\\frac{BD}{DC}&quot;}}</app-math-jax>
        </p>
        <p>
            (ii) For exterior angle AE is the bisector of ext. LA, then <app-math-jax>{{&quot;\\frac{AB}{AC}&quot;}}={{&quot;\\frac{BE}{CE}&quot;}}</app-math-jax>
        </p>
        <p>
            (BC is divided externally at E)
        </p>
        <p>
            If triangle ABC triangle DEF then 
        </p>
        <p>
            (i)
        </p>
        <p>
            (ii)
        </p>
        </li>
</ol>


