
<h1>RATIO AND PROPORTION</h1>
<ol>
    <li>
            <p>
            Ratio : Comparison of two of two quantities of the same kind will result in a ratio.
        </p>
        <p>
            The ratio of a number &#x27;a&#x27; to another number &#x27;b&#x27; <app-math-jax>(b \neq 0)\;is\;the\;quotient {{&quot;\\frac{a}{b}&quot;}}</app-math-jax> and is written as a:b where &#x27;a&#x27; and &#x27;b&#x27; are called its terms. 
        </p>
        <p>
            If should the two be quantities are in same the same unit(kind) they should be converted into the same unit.
        </p>
        <p>
            E.g. (i) 7 Boys, 9 Girls
        </p>
        <p>
            Ratio of Boys to girls is 7 : 9
        </p>
        <p>
            Ratio of Girls to boys is 9 : 7
        </p>
        <p>
            (ii)1 dozen to 1 score 
        </p>
        <p>
            1 doz. = 12 items ; 1 score = 20 items
        </p>
        <p>
            therefore Ratio is 12:20 <app-math-jax>\begin{{"{bmatrix}"}} \frac{{"{12}{4}"}} & \frac{{"{20}{4}"}}  \end{{"{bmatrix}"}}</app-math-jax>
       3:5
        </p>
        <p>
            (iii) Note:<app-math-jax>3:4=6:8</app-math-jax>
        </p>
        <p>
            <app-math-jax>20:30=2:3</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Proportion : When two ratios are equal they are said to be in proportion. 
        </p>
        <p>
            <app-math-jax>4:5 = 24:30</app-math-jax>
        </p>
        <p>
            <app-math-jax>4\times30=5\times24=120</app-math-jax>
        </p>
        <p>
            So, Product of means = Product of extremes in a proportion. 
        </p>
        <p>
            <app-math-jax>4:K :: K:16</app-math-jax>
        </p>
        <p>
            <app-math-jax>K^2 = 4\times16=64</app-math-jax>
        </p>
        <p>
            <app-math-jax>K^2=8^2 \implies K=8</app-math-jax>
        </p>
        <p>
            K is called the mean proportional between 4 and 16. 
        </p>
        </li>
    <li>
            <p>
            Percentage and its Applications :
        </p>
        <p>
            Percentage : A fraction with its denominator as 100 is called a percent.
        </p>
        <p>
            E.g. <app-math-jax>9:100\;is\;9\% \;or\;{{&quot;\\frac{9}{100}&quot;}}=9\% </app-math-jax>
        </p>
        <p>
            (i) <app-math-jax>{{&quot;\\frac{16}{25}&quot;}}={{&quot;\\frac{16}{25}&quot;}}\times100=64\% </app-math-jax>
        </p>
        <p>
            (ii) <app-math-jax>75\% = {{&quot;\\frac{75}{100}&quot;}}={{&quot;\\frac{3}{4}&quot;}}\;or\;3:4</app-math-jax>
        </p>
        </li>
</ol>
<ol>
    <li>
            <p>
            Cost Price and Selling Price :
        </p>
        <p>
            The money paid by the shopkeeper to buy the goods is called the Cost price (C.P.) and 
        </p>
        <p>
            the price at which the goods are sold is called the Selling Price (S.P.). 
        </p>
        <p>
            C.P. includes overhead charges also. 
        </p>
        </li>
    <li>
            <p>
            Marked Price : The price that is mentioned on a commodity is called the Marked Price.
        </p>
        </li>
    <li>
            <p>
            Profit and Loss : 
        </p>
        <p>
            If S.P > C.P., Profit = S.P. - C.P. 
        </p>
        <p>
            If S.P < C.P., Loss = C.P. - S.P. 
        </p>
        <p>
            <app-math-jax>Profit\%={{&quot;\\frac{Profit}{C.P}&quot;}}\times100</app-math-jax> 
        </p>
        <p>
            <app-math-jax>Loss\%={{&quot;\\frac{Loss}{C.P}&quot;}}\times100</app-math-jax> 
        </p>
        </li>
        <li>
            <p>
            <app-math-jax>S.P=C.P. + Gain or C.R - Loss</app-math-jax>
        </p>
        <p>
            <app-math-jax>S.P= {{&quot;\\frac{100-Loss\\% }{100}&quot;}} \times C.P\;or</app-math-jax>  
        </p>
        <p>
            <app-math-jax>S.P= {{&quot;\\frac{100-Gain\\% }{100}&quot;}} \times C.P</app-math-jax>
        </p>
        </li>
    <li>
            <p>
            Simple Interest :
        </p>
        <p>
            Simple Interest <app-math-jax>S.I = {{&quot;\\frac{PTR}{100}&quot;}}</app-math-jax> Where P = Principal, T = Time, R = Rate of interest.
        </p>
        <p>
            Amount &#x27;A&#x27; = P + S.I. 
        </p>
        </li>
    <li>
            <p>
            Discount : Discount is offered on the Marked Price (M.P.) of the article by the shopkeeper and is generally expressed as a percentage of the M.P.
        </p>
        </li>
    <li>
            <p>
            Compound Interest :
        </p>
        <p>
            Amount <app-math-jax>A =P\left(1+{{&quot;\\frac{r}{100}&quot;}}\right)^n</app-math-jax> 
        </p>
        <p>
            and <app-math-jax>C.I. = A - P</app-math-jax> or 
        </p>
        <p>
            <app-math-jax>P \begin{{"{bmatrix}"}} \left( {{&quot;1+\\frac{r}{100}&quot;}} \right)^n -1 \end{{"{bmatrix}"}} </app-math-jax>
        </p>
        <p>
            Where P is the principal, r is the rate of interest and n is the number of times that interest being calculated.
        </p>
        </li>
        <li>
            <p>
            Growth and Depreciation :
        </p>
        <p>
            The increased quantity after certain growth (over a period of time) is found out by using the formula
        </p>
        <p>
            <app-math-jax>A= P\left(1+{{&quot;\\frac{r}{100}&quot;}}\right)^n</app-math-jax>
        </p>
        <p>
            In the case of depreciation, decay or decrease the rate r is replaced by (-r) in the formula
        </p>
        <p>
            <app-math-jax>A= P\left(1-{{&quot;\\frac{r}{100}&quot;}}\right)^n</app-math-jax>
        </p>
        <p>
            Direct and Inverse Variation : Direct Proportion : When x increases, y increases, when x decreases y decreases. 
        </p>
        <p>
            Eg. 
        </p>
        </li>
        <li>
            <p>
            Inverse Proportion :
        </p>
        <p>
            When x increases, y decreases ; When x decreases y increases.
        </p>
        <p>
            Eg. : 5 Men 10 Men  ; 10 days 5 days
        </p>
        </li>
    <li>
            <p>
            Speed, Distance and Time : 
        </p>
        <p>
            <app-math-jax>Average Speed = {{&quot;\\frac{distance\\;covered}{time\\;taken}&quot;}}</app-math-jax> 
        </p>
        <p>
            Note: 36 km/hr = 10 m/sec.
        </p>
        <p>
            To convert km/hr to m/sec multiply by <app-math-jax>{{&quot;\\frac{5}{18}&quot;}}</app-math-jax>
        </p>
        <p>
            To convert m/sec to km/hr multiply by <app-math-jax>{{&quot;\\frac{18}{5}&quot;}}</app-math-jax> 
        </p>
        </li>
</ol>